RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /foodster/error404.php

php_value session.auto_start 1
php_value session.save_path "C:/Program Files/OSPanel/userdata/sessions"
php_value date.timezone "Europe/Kaliningrad"